<div class="main-container">

  <div id="greeting" *ngIf="!showLoading && !showGameboard">
    <input id="player-name-input" [(ngModel)]="name" placeholder="name" />
    <button id="join-game-btn" (click)="joinGame()"><b>Join Game</b></button>
  </div>


  <div id="loading" *ngIf="showLoading">
    Loading {{name}}'s Simple War...
  </div>

  <div id="game" *ngIf="showGameboard">

    <game-board
      [gameboard]="gameSession.gameBoard.board"
      [numRows]="numRows"
      [numCols]="numCols">
    </game-board>

    <span *ngIf="player.team === 'TEAM1'" class="hand" id="hand1">
      <card-front *ngFor="let card of gameSession.player1.hand" [card]="card"></card-front>
    </span>

    <span *ngIf="player.team === 'TEAM2'" class="hand" id="hand2">
      <card-front *ngFor="let card of gameSession.player2.hand" [card]="card"></card-front>
    </span>

  </div>

</div>


