#join-game-btn {
  font-size: 50px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  transition-duration: 0.4s;
  border-radius: 20px;
  cursor: pointer;
  background-color: white;
  color: #57ee6a;
  padding: 30px 40px;
  border: 5px solid #57ee6a;
  text-align: center;
  margin: 0 auto;
  display: block;
}

#join-game-btn:hover {
  background-color: #57ee6a;
  color: white;
}

#player-name-input {
  font-size: 50px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  margin: 150px auto 50px;
  border: 5px solid #57ee6a;
  text-align: center;
  display: block;
}

#loading {
  text-align: center;
  margin: 0 auto;
  display: block;
}

#game {
  text-align: center;
  margin: 0 auto;
  display: block;
}

/*[class*='col-'] {*/
  /*float: left;*/
  /*padding-right: 20px;*/
  /*padding-bottom: 20px;*/
/*}*/
/*[class*='col-']:last-of-type {*/
  /*padding-right: 0;*/
/*}*/
/*a {*/
  /*text-decoration: none;*/
/*}*/
/**, *:after, *:before {*/
  /*-webkit-box-sizing: border-box;*/
  /*-moz-box-sizing: border-box;*/
  /*box-sizing: border-box;*/
/*}*/
/*h3 {*/
  /*text-align: center; margin-bottom: 0;*/
/*}*/
/*h4 {*/
  /*position: relative;*/
/*}*/
/*.grid {*/
  /*margin: 0;*/
/*}*/
/*.col-1-4 {*/
  /*width: 25%;*/
/*}*/
/*.module {*/
  /*padding: 20px;*/
  /*text-align: center;*/
  /*color: #eee;*/
  /*max-height: 120px;*/
  /*min-width: 120px;*/
  /*background-color: #607D8B;*/
  /*border-radius: 2px;*/
/*}*/
/*.module:hover {*/
  /*background-color: #EEE;*/
  /*cursor: pointer;*/
  /*color: #607d8b;*/
/*}*/
/*.grid-pad {*/
  /*padding: 10px 0;*/
/*}*/
/*.grid-pad > [class*='col-']:last-of-type {*/
  /*padding-right: 20px;*/
/*}*/
/*@media (max-width: 600px) {*/
  /*.module {*/
    /*font-size: 10px;*/
    /*max-height: 75px; }*/
/*}*/
/*@media (max-width: 1024px) {*/
  /*.grid {*/
    /*margin: 0;*/
  /*}*/
  /*.module {*/
    /*min-width: 60px;*/
  /*}*/
/*}*/
