<div class="main-container">

  <div id="greeting" *ngIf="!showLoading && !showGameboard">
    <input id="player-name-input" [(ngModel)]="name" placeholder="name" />
    <button id="join-game-btn" (click)="joinGame()"><b>Join Game</b></button>
  </div>


  <div id="loading" *ngIf="showLoading">
    Loading <strong>{{name}}'s</strong> Simple War against <strong>{{player.opponentName}}</strong>...
  </div>

  <div id="game" *ngIf="showGameboard">

    <div id="other-team-goal">

    </div>

    <game-board
      [gameboard]="gameSession.gameBoard.board"
      [numRows]="numRows"
      [numCols]="numCols"
      [myTurn]="gameSession.myTurn">
    </game-board>

    <hand
      [cards]="gameSession.player.hand"
      [myTurn]="gameSession.myTurn">
    </hand>

  </div>
</div>


