#hand {
  border: 4px solid saddlebrown;
  border-radius: 10px;
}

#end-turn-btn {
  float: right;
  margin-top: auto;
  margin-bottom: auto;
}

#game-stats {
  float: left;
  margin-top: auto;
  margin-bottom: auto;
}
